NODE_ENV=dev

# Auth Service
AUTH_SERVICE_NODE_ENV=production
AUTH_SERVICE_PORT=3001

# Auth Service DB
AUTH_SERVICE_DB_HOST=mysql
AUTH_SERVICE_DB_PORT=3306
AUTH_SERVICE_DB_USER=root
AUTH_SERVICE_DB_PASSWORD=examplepassword
AUTH_SERVICE_DB_NAME=authdb

# MySQL
MYSQL_ROOT_PASSWORD=examplepassword
MYSQL_PORT=3306

# Primary and Secondary Databases
MYSQL_AUTH_DB_NAME=authdb
MYSQL_UNIVERSITY_NAME=universitydb

# University Service
UNIVERSITY_SERVICE_NODE_ENV=dev
UNIVERSITY_SERVICE_PORT=3002
UNIVERSITY_SERVICE_DB_HOST=mysql
UNIVERSITY_SERVICE_DB_PORT=3306
UNIVERSITY_SERVICE_DB_USER=root
UNIVERSITY_SERVICE_DB_PASSWORD=examplepassword

# Shop Service
TYPEORM_SYNC=true
TYPEORM_LOGGING=false
SHOP_SERVICE_NODE_ENV=dev
SHOP_SERVICE_PORT=3003
SHOP_SERVICE_DB_HOST=mysql
SHOP_SERVICE_DB_PORT=3306
SHOP_SERVICE_DB_USER=root
SHOP_SERVICE_DB_PASSWORD=examplepassword
SHOP_SERVICE_DB_NAME=shopdb

# JWT Secret
JWT_SECRET_KEY=testik

# Frontend
REACT_APP_API_URL=http://localhost:3001

AUTH_SERVICE_URL=http://auth-service:${AUTH_SERVICE_PORT}
UNIVERSITY_SERVICE_URL=http://university-service:${UNIVERSITY_SERVICE_PORT}
# URL Auth Service